<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFarmerServlet</servlet-name>
        <servlet-class>servlet.AddFarmerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFarmerServlet</servlet-name>
        <servlet-class>servlet.UpdateFarmerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFarmerServlet</servlet-name>
        <servlet-class>servlet.DeleteFarmerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFarmServlet</servlet-name>
        <servlet-class>servlet.AddFarmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFarmServlet</servlet-name>
        <servlet-class>servlet.UpdateFarmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFarmServlet</servlet-name>
        <servlet-class>servlet.DeleteFarmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentFarmServlet</servlet-name>
        <servlet-class>servlet.RentFarmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToolServlet</servlet-name>
        <servlet-class>servlet.AddToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateToolServlet</servlet-name>
        <servlet-class>servlet.UpdateToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteToolServlet</servlet-name>
        <servlet-class>servlet.DeleteToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentToolServlet</servlet-name>
        <servlet-class>servlet.PaymentToolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnimalServlet</servlet-name>
        <servlet-class>servlet.AddAnimalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnimalServlet</servlet-name>
        <servlet-class>servlet.UpdateAnimalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnimalServlet</servlet-name>
        <servlet-class>servlet.DeleteAnimalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnimalTypeServlet</servlet-name>
        <servlet-class>servlet.AddAnimalTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnimalTypeServlet</servlet-name>
        <servlet-class>servlet.UpdateAnimalTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnimalTypeServlet</servlet-name>
        <servlet-class>servlet.DeleteAnimalTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnimalProduceServlet</servlet-name>
        <servlet-class>servlet.AddAnimalProduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnimalProduceServlet</servlet-name>
        <servlet-class>servlet.UpdateAnimalProduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnimalProduceServlet</servlet-name>
        <servlet-class>servlet.DeleteAnimalProduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCropTypeServlet</servlet-name>
        <servlet-class>servlet.AddCropTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCropTypeServlet</servlet-name>
        <servlet-class>servlet.DeleteCropTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCropServlet</servlet-name>
        <servlet-class>servlet.AddCropServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCropServlet</servlet-name>
        <servlet-class>servlet.UpdateCropServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCropServlet</servlet-name>
        <servlet-class>servlet.DeleteCropServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCropProduceServlet</servlet-name>
        <servlet-class>servlet.AddCropProduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCropProduceServlet</servlet-name>
        <servlet-class>servlet.DeleteCropProduceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFarmerServlet</servlet-name>
        <url-pattern>/AddFarmerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFarmerServlet</servlet-name>
        <url-pattern>/UpdateFarmerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFarmerServlet</servlet-name>
        <url-pattern>/DeleteFarmerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFarmServlet</servlet-name>
        <url-pattern>/AddFarmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFarmServlet</servlet-name>
        <url-pattern>/UpdateFarmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFarmServlet</servlet-name>
        <url-pattern>/DeleteFarmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentFarmServlet</servlet-name>
        <url-pattern>/RentFarmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToolServlet</servlet-name>
        <url-pattern>/AddToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateToolServlet</servlet-name>
        <url-pattern>/UpdateToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteToolServlet</servlet-name>
        <url-pattern>/DeleteToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentToolServlet</servlet-name>
        <url-pattern>/PaymentToolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnimalServlet</servlet-name>
        <url-pattern>/AddAnimalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnimalServlet</servlet-name>
        <url-pattern>/UpdateAnimalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnimalServlet</servlet-name>
        <url-pattern>/DeleteAnimalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnimalTypeServlet</servlet-name>
        <url-pattern>/AddAnimalTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnimalTypeServlet</servlet-name>
        <url-pattern>/UpdateAnimalTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnimalTypeServlet</servlet-name>
        <url-pattern>/DeleteAnimalTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnimalProduceServlet</servlet-name>
        <url-pattern>/AddAnimalProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnimalProduceServlet</servlet-name>
        <url-pattern>/UpdateAnimalProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnimalProduceServlet</servlet-name>
        <url-pattern>/DeleteAnimalProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCropTypeServlet</servlet-name>
        <url-pattern>/AddCropTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCropTypeServlet</servlet-name>
        <url-pattern>/DeleteCropTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCropServlet</servlet-name>
        <url-pattern>/AddCropServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCropServlet</servlet-name>
        <url-pattern>/UpdateCropServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCropServlet</servlet-name>
        <url-pattern>/DeleteCropServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCropProduceServlet</servlet-name>
        <url-pattern>/AddCropProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCropProduceServlet</servlet-name>
        <url-pattern>/DeleteCropProduceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
